<h1>Meetings</h1>
<%= link_to "Sort Alphabetically", "/meeting_rooms/#{params[:id]}/meetings?sort=name" %>
<%= form_tag '/meetings', method: :get do %>
  <%= number_field_tag :number_of_participants %>
  <%= submit_tag 'Only return records with more than minimum participants' %>
<% end %>
<p><%= "#{@meetings.count} meetings" %></p>
<% @meetings.each_with_index do |meeting, index| %>
  <div id=<%= "row-#{index}" %>>

  <h3><a href="/meetings/<%= meeting.id %>"><%= meeting.name %></a></h3>
  <h3><a href="/meetings/<%= meeting.id %>"><%= meeting.number_of_participants %></a></h3>
  <h3><a href="/meetings/<%= meeting.id %>"><%= meeting.start_time %></a></h3>
  <h3><a href="/meetings/<%= meeting.id %>"><%= meeting.end_time %></a></h3>
  </div>
<% end %>

<br>
<a href="/meeting_rooms/<%= params[:id] %>/meetings/new">Create Meeting</a>
