<h1>Meetings</h1>
<p><%= "#{@meetings.count} meetings" %></p>
<% @meetings.each do |meeting| %>

  <h3><a href="/meetings/<%= meeting.id %>"><%= meeting.name %></a></h3>
  <h3><a href="/meetings/<%= meeting.id %>"><%= meeting.number_of_participants %></a></h3>
  <h3><a href="/meetings/<%= meeting.id %>"><%= meeting.start_time %></a></h3>
  <h3><a href="/meetings/<%= meeting.id %>"><%= meeting.end_time %></a></h3>
<% end %>
<br>
<a href="/meeting_rooms/<%= params[:id] %>/meetings/new">Create Meeting</a>
