<head>
  <style>
    table,th,td {border: 1px solid black}
    </style>
</head>
<body>
<nav>
  <%= link_to "Conference Manager Home", '/' %>
  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>
</nav>

<h1>Meetings</h1>
<p><%= "#{@meetings.count} meetings" %></p>

<% if params[:id] %>
<%= link_to "Create Meeting", "/meeting_rooms/#{params[:id]}/meetings/new" %>
<% end %>

<%= form_tag '/meetings', method: :get do %>
  <%= hidden_field_tag :id, params[:id] %>
  <%= submit_tag 'Only return records with more than minimum participants' %>
  <%= number_field_tag :number_of_participants %>
<% end %>
<table>
  <tr>
    <th> Name <br> <%= link_to "Sort Alphabetically", :sort=>"name" %> </th>
    <th> Meeting Room </th>
    <th> Number of Participants </th>
    <th> Start Time </th>
    <th> End Time </th>
    <th> Created </th>
    <th> Update </th>
    <th> Delete </th>
  </tr>
  <% @meetings.each_with_index do |meeting, index| %>
    <tr id=<%= "row-#{index}" %>>
    <td><%= link_to meeting.name, "/meetings/#{meeting.id}" %></td>
    <td><%= link_to meeting.meeting_room.name, "/meeting_rooms/#{meeting.meeting_room_id}" %></td>
    <td><%= meeting.number_of_participants %></td>
    <td><%= format_timestamp(meeting.start_time) %></td>
    <td><%= format_timestamp(meeting.end_time) %></td>
    <td><%= format_timestamp(meeting.created_at) %></td>
    <td><%= link_to "Update Meeting", "/meetings/#{meeting.id}/edit" %></td>
    <td><%= button_to "Delete Meeting", meeting_path(meeting, previous_request: request.path), method: :delete %></td>
    </tr>
<% end %>
<br>
</table>
</body>
