<nav>
  <%= link_to "Conference Manager Home", '/' %>
  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>
</nav>

<h1><small>Meeting name: <%= link_to @meeting.name, "/meetings/#{@meeting.id}" %></small> </h1>
<h2>Meeting room name: <%= link_to @meeting.meeting_room.name, "/meeting_rooms/#{@meeting.meeting_room.id}" %></h2>
<h3>Number of Participants: <%= @meeting.number_of_participants %></h3>
<h3>Start Time: <%= format_timestamp(@meeting.start_time) %></h3>
<h3>End Time: <%= format_timestamp(@meeting.end_time) %></h3>
<h3><%= link_to 'Update Meeting', "/meetings/#{@meeting.id}/edit" %></h3>
<h1><%= button_to 'Delete Meeting', meeting_path(@meeting, previous_request: request.referrer), method: :delete %></h1>
