<nav>

  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>

</nav>

<h1><%= link_to @meeting.name, "/meetings/#{@meeting.id}" %></h1>
<h1><%= link_to @meeting.meeting_room.name, "/meeting_rooms/#{@meeting.meeting_room.id}" %></h1>
<h2>Number of Participants: <%= @meeting.number_of_participants %></h2>
<h2>Start Time: <%= @meeting.start_time %></h2>

<p>End Time: <%= @meeting.end_time %></p>
<h1><%= link_to 'Update Meeting', "/meetings/#{@meeting.id}/edit" %></h1>
