<nav>

  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>

</nav>

<h1>All Meeting Rooms</h1>
<%= link_to "New Meeting Room", "/meeting_rooms/new" %><br>

<%= form_tag '/meeting_rooms', method: :get do %>
<p><%= link_to 'Sort by Number of Meetings', "/meeting_rooms?sort=true" %></p>
<%= submit_tag 'Only return records with more than minimum capacity' %>
  <%= number_field_tag :capacity %>
<% end %>
<% @meeting_rooms.each_with_index do |meeting_room, index|%>
  <div id="<%= "row-#{index}" %>">
    <hr>
    <h2>Name: <%= link_to meeting_room.name, "/meeting_rooms/#{meeting_room.id}" %> </h2>
    <h3>Capacity: <%= meeting_room.capacity %></h3>
    <h4><%= "#{meeting_room.meetings.count} meetings" %></h4>
    <p>Has projector: <%= meeting_room.has_projector %></p>

  <p><%= link_to "Update Meeting Room", "/meeting_rooms/#{meeting_room.id}/edit" %></p>
  <%= button_to 'Delete Meeting Room', "/meeting_rooms/#{meeting_room.id}", method: :delete%><br>
  </div>
<% end %>
