<nav>
  <%= link_to "Conference Manager Home", '/' %>
  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>
</nav>

<h1>New Meeting Room</h1>

<%= form_tag '/meeting_rooms' do %>
  <%= label_tag  "Meeting room name"%>
  <%= text_field_tag :name %><br>
  <%= label_tag :capacity %>
  <%= number_field_tag :capacity %><br>
  <%= label_tag :has_projector %>
  <%= hidden_field_tag :has_projector, false %>
  <%= check_box_tag :has_projector, true %><br><br>
  <%= submit_tag "Create Meeting Room" %>
<% end %>
