<nav>

  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>

</nav>

<a href="/meeting_rooms/<%= @meeting_room.id %>/meetings">View Meetings</a>

<p <%= "#{@meeting_room.meetings.count} meetings" %></p>
<h1>Name: <%= link_to @meeting_room.name, request.path %></h1>
<h2>Has Projector: <%= @meeting_room.has_projector %></h2>
<h3>Capacity: <%= @meeting_room.capacity %></h3>

<%= button_to 'Delete Meeting Room', "/meeting_rooms/#{@meeting_room.id}", method: :delete %>
<a href="/meeting_rooms/<%= @meeting_room.id %>/edit">Update Meeting Room</a>
