<nav>
  <%= link_to "Conference Manager Home", '/' %>
  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>
</nav>


<h1>Name: <%= link_to @meeting_room.name, request.path %></h1>
<p>Has Projector: <%= @meeting_room.has_projector %></p>
<p>Capacity: <%= @meeting_room.capacity %></p>
<p><%= "#{@meeting_room.meetings.count} meetings" %></p>

<h3><%= link_to "View Meetings", "/meeting_rooms/#{@meeting_room.id}/meetings" %></h3>
<h4><%= link_to "Update Meeting Room", "/meeting_rooms/#{@meeting_room.id}/edit"%></h4>
<%= button_to 'Delete Meeting Room', "/meeting_rooms/#{@meeting_room.id}", method: :delete %>
