<nav>
  <%= link_to "Conference Manager Home", '/' %>
  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>
</nav>

<h1><small>Update</small> <%= @presentation.name %></h1>

<%= form_tag "/presentations/#{@presentation.id}", method: :patch do %>
  <%= hidden_field_tag :previous_request, request.referrer %>
  <%= label_tag "Presentation Name" %>
  <%= text_field_tag :name, @presentation.name %><br>
  <%= label_tag :presenter %>
  <%= text_field_tag :presenter, @presentation.presenter %><br>
  <%= label_tag :category %>
  <%= select_tag :category, options_for_select(["keynote", "lecture", "workshop", "panel"], @presentation.category) %><br>
  <%= label_tag :projector_needed %>
  <%= hidden_field_tag :projector_needed, false %>
  <%= check_box_tag :projector_needed, true, @presentation.projector_needed %><br>
  <%= submit_tag "Update Presentation" %>
<% end %>
