<head>
  <style>
    table, th, td {border: 1px solid black;}
  </style>
</head>
<body>
<h1>Presentation List</h1>

<table id='presentations'>
  <tr>
    <th>Name</th>
    <th>Presenter</th>
    <th>Conference</th>
    <th>Category</th>
    <th>projector needed</th>
    <th>created</th>
    <th>updated</th>
  </tr>
  <% @presentations.each do |presentation| %>
    <tr>
      <td><a href="/presentations/#{presentation.id}"><%= presentation.name %></td>
      <td><%= presentation.presenter %></td>
      <td><%= presentation.conference_id %></td>
      <td><%= presentation.category %></td>
      <td><%= presentation.projector_needed %></td>
      <td><%= presentation.created_at %></td>
      <td><%= presentation.updated_at %></td>
    </tr>
  <% end %>
</table>
</body>
