<head>
  <style>
    table, th, td {border: 1px solid black;}
  </style>
</head>
<body>
  <nav>
    <%= link_to "Conference Manager Home", '/' %>
    <%= link_to "Conferences", "/conferences" %>
    <%= link_to "Presentations", "/presentations" %>
    <%= link_to "Meeting Rooms", "/meeting_rooms" %>
    <%= link_to "Meetings", "/meetings" %>
  </nav>

  <h1>Presentation List</h1>

  <p><%= "#{@presentations.count} presentations" %></p>

  <% if params[:id] %>
    <%= link_to "Create Presentation", "/conferences/#{params[:id]}/presentations/new" %>
  <% end %>
  <br>
  <table id='presentations'>
    <tr>
      <th>Name<br><%= link_to "Sort Alphabetically", :sort => "name" %></th>
      <th>Presenter</th>
      <th>Conference</th>
      <th>Category</th>
      <th>projector needed</th>
      <th>created</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <% @presentations.each_with_index do |presentation, index| %>
      <tr id='<%= "row-#{index}" %>'>
        <td><%= link_to presentation.name, "/presentations/#{presentation.id}" %></td>
        <td><%= presentation.presenter %></td>
        <td><%= link_to presentation.conference.name, "/conferences/#{presentation.conference_id}" %></td>
        <td><%= presentation.category %></td>
        <td><%= presentation.projector_needed %></td>
        <td style='font-size:80%'><%= format_timestamp(presentation.created_at) %></td>
        <td><%= link_to "Update Presentation", "/presentations/#{presentation.id}/edit" %></td>
        <td><%= button_to "Delete Presentation", presentation_path(presentation, previous_request: request.path), method: :delete %></td>
      </tr>
    <% end %>
  </table>
</body>
