<header>
  <nav>
    <a href="/">Conference Manager Home</a>
    <a href='/conferences'>Conferences</a>
    <a href='/presentations'>Presentations</a>
    <a href='/meeting_rooms'>Meeting Rooms</a>
    <a href='/meetings'>Meetings</a>
  </nav>
</header>

<h1>New Presentation</h1>

<%= form_tag "/conferences/#{params[:id]}/presentations" do %>
  <%= label_tag "Presentation Name" %>
  <%= text_field_tag :name %><br>
  <%= label_tag :presenter %>
  <%= text_field_tag :presenter %><br>
  <%= label_tag :category %>
  <%= select_tag :category, options_for_select(["keynote", "lecture", "workshop", "panel"], "workshop") %><br>
  <%= label_tag :projector_needed %>
  <%= check_box_tag :projector_needed %>
<% end %>

<form action="/conferences/<%= "#{params[:id]}" %>/presentations" method='post'>
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
  <input type='submit' value='Create Presentation'/>
</form>
