<nav>
  <%= link_to "Conference Manager Home", '/' %>
  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>
</nav>

<h2><%= link_to @presentation.conference.name, "/conferences/#{@presentation.conference.id}" %></h2>
<h1><%= link_to @presentation.name, "/presentations/#{@presentation.id}" %></h1>
<h3>Presenter: <%= @presentation.presenter %></h3>
<h3>Category: <%= @presentation.category %></h3>
<p>projector needed: <%= @presentation.projector_needed %></p>
<h4><%= link_to "Update Presentation", "/presentations/#{@presentation.id}/edit" %></h4>
<h4><%= button_to "Delete Presentation", presentation_path(@presentation, previous_request: request.referrer), method: :delete %></h4>
