<header>
  <nav>
    <a href="/">Conference Manager Home</a>
    <a href='/conferences'>Conferences</a>
    <a href='/presentations'>Presentations</a>
    <a href='/meeting_rooms'>Meeting Rooms</a>
    <a href='/meetings'>Meetings</a>
  </nav>
</header>

<h2>
  <a href="/conferences/<%= @presentation.conference.id %>"><%= @presentation.conference.name %></a>
</h2>

<h1>
  <a href="/presentations/<%= @presentation.id %>"><%= @presentation.name %></a>
</h1>
<h3>Presenter: <%= @presentation.presenter %></h3>
<h3>Category: <%= @presentation.category %></h3>

<p>projector: <%= @presentation.projector_needed %></p>
<br/>
<a href='/presentations/<%= @presentation.id %>/edit'>Update Presentation</a>
<form action='/presentations/<%= @presentation.id %>' method="post">
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <input type='hidden' name='_method' value="DELETE">
  <input type='hidden' name="previous_request" value='<%= request.referrer %>'>
  <input type='submit' value='Delete Presentation'/>
</form>
