<h1><%= @presentation.conference.name %></h1>

<h2><%= @presentation.name %></h2>
<h3>Presenter: <%= @presentation.presenter %></h3>
<h3>Category: <%= @presentation.category %></h3>

<p>projector: <%= @presentation.projector_needed %></p>
<br/>
<a href='/presentations/<%= @presentation.id %>/edit'>Update Presentation</a>
