<h1><%= @presentation.name %></h1>

<h2>Presenter: <%= @presentation.presenter %></h2>
<h2><%= @presentation.conference.name %></h2>
<h3>Category: <%= @presentation.category %></h3>

<p>projector: <%= @presentation.projector_needed %></p>
