<nav>
  <%= link_to "Conference Manager Home", '/' %>
  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>
</nav>

<h1>Conference List</h1>
<p><%= link_to "New Conference", '/conferences/new' %></p>

<%= form_tag '/conferences', method: :get do %>
  <p><%= link_to "Sort by Number of Presentations", '/conferences?sort=true' %></p>
  <p><%= submit_tag "Only return records with attendance over" %>
     <%= number_field_tag :attendees %></p>
<% end %>
<hr>

<% @conferences.each_with_index do |conference, index| %>
  <div id='<%= "row-#{index}" %>'>
    <hr>
    <h2><%= link_to conference.name, "/conferences/#{conference.id}" %></h2>
    <h3><%= "#{format_date(conference.start_date)} to #{format_date(conference.end_date)}" %></h3>
    <p><%= "#{conference.presentations.count} presentations" %></p>
    <p><%= "added: #{format_timestamp(conference.created_at)}" %></p>
    <h4><%= link_to "Update Conference", "/conferences/#{conference.id}/edit" %></h4>
    <h4><%= button_to "Delete Conference", "/conferences/#{conference.id}", method: :delete %>
  </div>
<% end %>
