<nav>
  <%= link_to "Conference Manager Home", '/' %>
  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>
</nav>

<h1>New Conference</h1>

<%= form_tag '/conferences' do %>
  <%= label_tag "Conference name " %>
  <%= text_field_tag :name %><br>
  <%= label_tag :organization %>
  <%= text_field_tag :organization %><br>
  <%= label_tag "Expected attendees" %>
  <%= number_field_tag :size %><br>
  <%= label_tag "Dates" %>
  <%= date_field_tag :start_date %>
  <%= label_tag " to " %>
  <%= date_field_tag :end_date %><br>
  <%= submit_tag "Create Conference" %>
<% end %>
