<h1><%= @conference.name %></h1>

<h2><%= @conference.organization %></h2>
<p><%= "#{@conference.start} to #{@conference.end}" %></p>
<p>Expected Attendance: <%= @conference.size %></p>
<br>
<a href='/conferences/<%= @conference.id %>/edit'>Update Conference</a>
