<header>
  <nav>
    <a href="/">Conference Manager Home</a>
    <a href='/conferences'>Conferences</a>
    <a href='/meeting_rooms'>Meeting Rooms</a>
  </nav>
</header>

<h1><%= @conference.name %></h1>
<a href="/conferences/<%= @conference.id %>/presentations">View Presentations</a>
<h2><%= @conference.organization %></h2>
<p><%= "#{@conference.start_date.strftime("%b %d, %Y")}
  to #{@conference.end_date.strftime("%b %d, %Y")}" %></p>
<p>Expected Attendance: <%= @conference.size %></p>
<br>
<a href='/conferences/<%= @conference.id %>/edit'>Update Conference</a>
<form action='/conferences/<%= @conference.id %>' method="post">
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <input type='hidden' name='_method' value="DELETE">
  <input type='submit' value='Delete Conference'/>
</form>
