<nav>
  <%= link_to "Conference Manager Home", '/' %>
  <%= link_to "Conferences", "/conferences" %>
  <%= link_to "Presentations", "/presentations" %>
  <%= link_to "Meeting Rooms", "/meeting_rooms" %>
  <%= link_to "Meetings", "/meetings" %>
</nav>

<h1><%= link_to @conference.name, "/conferences/#{@conference.id}" %></h1>
<h2><%= "#{format_date(@conference.start_date)} to #{format_date(@conference.end_date)}" %></h2>
<h2><small>hosted by</small> <%= @conference.organization %></h2>
<p>Expected Attendance: <%= @conference.size %></p>
<h3><%= link_to "View Presentations", "/conferences/#{@conference.id}/presentations" %>
<h4><%= link_to "Update Conference", "/conferences/#{@conference.id}/edit" %>
<h4><%= button_to "Delete Conference", "/conferences/#{@conference.id}", method: :delete %>
